.input-section {
    outline-style: solid;
    margin: 3px;
    background-color:whitesmoke;
    .sendBtn {
      width: 50px;
      background-color: lightgreen;
    }
  }

  .stream-preview {
    // height: 100px;
    // min-height: 200px;
    object-fit: contain;
    background-color: lightgray;
    // max-height:20%;
  }
  .chat-button-cont {
    position: absolute;
    left:5px;
    right:5px;
  }
  