<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ever IRL Chat <small>v0.0.1</small>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/settings">
        <ion-icon name="settings"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img class="stream-preview"
       [src]="previewData">
  <div class="chat-button-cont"
       fxLayout="row"
       fxLayoutAlign="end end"
       fxWidth="100%">
    <ion-button (click)="toggleSpeek()">
      <ion-icon name="volume-medium"
                *ngIf="ttsOn"></ion-icon>

      <ion-icon name="volume-mute"
                *ngIf="!ttsOn"></ion-icon>
    </ion-button>
  </div>
</ion-header>


<ion-content #content
             fxLayoutAlign="end stretch"
             fxLayout="column">
  <div *ngFor="let msg of msgData">
    <span [ngStyle]="{'color': msg.userColor}">{{msg?.userName}}</span>: {{msg?.msg}}
  </div>
</ion-content>
<ion-footer>
  <div class="input-section"
       fxLayoutAlign="space-between stretch"
       fxLayout="row">

    <div fxLayoutAlign="center center"
         *ngIf="!currentlyConnected">
      <mat-icon class="disconeted-icon">sensors_off</mat-icon>
    </div>

    <ion-input autocorrect="on"
               [(ngModel)]="inputValue"
               [disabled]="!currentlyConnected"
               (keyup.enter)="sendMsg()"></ion-input>
    <div class="sendBtn"
         fxLayoutAlign="center center"
         (click)="sendMsg()">
      <ion-icon name="send-sharp"></ion-icon>
    </div>
  </div>
</ion-footer>