.input-section {
    outline-style: solid;
    margin: 3px;
  
    .sendBtn {
      width: 50px;
      background-color: lightgreen;
    }
  }

  .stream-preview {
    height: 100px;
    object-fit: contain;
    background-color: lightgray;
  }
  